﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>


<!-- ADD API  -  POST METHOD -->

        <form class="form" role="form" autocomplete="off" href="#" method="post">

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber">Phone Number</label>
                <input asp-for="Input.PhoneNumber" id="inputPhoneNumber" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <button type="button" onclick="addPhone()" class="btn btn-primary">Save</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
<!-- ADD API  -  POST METHOD -->
<script>

        function addPhone() {
            let input = document.getElementById("inputPhoneNumber");

            var numbers = /[0-9]/g;
            var upperCaseLetters = /[A-Z]/g;
            var lowerCaseLetters = /[a-z]/g;
            if (input.value.match(upperCaseLetters) || input.value.match(lowerCaseLetters) ) {
                input.value = "";
                alert("Phone number is not a valid!");
                return;
            }

            if (input.value.length != 9) {
                input.value = "";
                alert("Phone number is not a valid! Phone number must have 9 characters!");
                return;
            }

            var infoModel = { Phone: input.value }
            input.value = "";

            var url = "/api/AddPhoneNumber";
            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(infoModel)
            }).then(function (response) {
                if (response.status == 200) {
                    AddNotification("Phone number Added!");
                }
                else {
                    AddNotification("Phone number Add failed!", "danger");
                }
            }).catch(console.log);
        }

    </script>

    <partial name="_ValidationScriptsPartial" />
}