﻿
<AuthorizeView>
    <Authorized>

        <a class="nav-link text-dark" href="/">Home</a>
        <a id="manage" class="nav-link text-dark" href="Identity/Account/Manage" title="Manage">Manage</a>
        <form id="logoutForm" class="form-inline" method="post" action="Identity/Account/LogOut">
            <button id="logout" type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link text-dark" id="register" href="Identity/Account/Register">Register</a>
        <a class="nav-link text-dark" id="login" href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
