﻿@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using SN_WebApp.Hubs
@using Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager
@inject IUserService _userService
@inject IFriendService _friendService
@inject SignInManager<IdentityUser> SignInManager


<NavMenu />
@if (showOnline)
{

    <div class="card fixed-bottom" style="width: 14rem; bottom: 55px">
        <div class="card-header">
            Online Friends
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var friend in realationships)
            {

                <li class="list-group-item">
                    <a href="/chatroom" class="list-group-item list-group-item-action border-0">
                        <div class="d-flex align-items-start">
                            <img src="@friend.AvatarName" class="rounded-circle mr-1" alt="@friend.UserName" width="40" height="40">
                            <div class="flex-grow-1 ml-3">
                                @friend.UserName
                                @if (friend.IsOnline)
                                {
                                    <div class="small"><span class="oi oi-chat" style="color:forestgreen"></span> Online</div>
                                }
                                else
                                {
                                    <div class="small"><span class="oi oi-circle-x" style="color:red"></span> Offline</div>
                                }
                            </div>
                        </div>
                    </a>


                </li>

            }

        </ul>
    </div>



}

@if (showPopup)
{
<div class="container">
        <div class="card fixed-bottom" style="width: 20rem; bottom: 55px; left: auto">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@forUser.UserName</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" @onclick="HidePopup" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                            <a href="/chatroom"><i class="fa fa-comments"></i></a>
                        </button>
                        <button type="button" class="btn btn-box-tool" @onclick="ClosePopup" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="height: 400px; overflow-y: scroll; ">

                    @foreach (var userMessage in messages)
                    {

                        @if ((authState.User.Identity.Name == userMessage.ToUser || authState.User.Identity.Name == userMessage.FromUser) && (forUser.UserName == userMessage.ToUser || forUser.UserName == userMessage.FromUser))
                        {
                            <div class="direct-chat-messages">

                                <div class="@(userMessage.CurrentUser ? "direct-chat-msg right" : "direct-chat-msg")">
                                    <div class="direct-chat-info clearfix">
                                        @if (userMessage.CurrentUser)
                                        {
                                            <span class="direct-chat-name pull-right">You</span>
                                            <span class="direct-chat-timestamp pull-left">@userMessage.DateSent.ToString("HH:mm | MMM dd")</span>
                                        }
                                        else
                                        {
                                            <span class="direct-chat-name pull-left">@userMessage.FromUser</span>
                                            <span class="direct-chat-timestamp pull-right">@userMessage.DateSent.ToString("HH:mm | MMM dd")</span>
                                        }

                                    </div>
                                    <img class="direct-chat-img" src="@(userMessage.CurrentUser? userName.AvatarName : forUser.AvatarName)"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text">
                                        @userMessage.Message
                                    </div>
                                </div>
                            </div>
                        }

                    }

                </div>
                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" @bind="messageInput" name="message" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat" @onclick="Send" disabled="@(!IsConnected)">Send</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
   
</div>
}

            <div class="container">

                @Body

                <AuthorizeView>
                    <Authorized>

                        <div class="bottom-row fixed-bottom">
                            @if (!showOnline)
                            {
                                <button @onclick="ShowOnline" class="btn btn-success" align="left" style="bottom: 0px;" >Show Online Friends </button>

                            }
                            else
                            {
                                <button @onclick="HideOnline" class="btn btn-success" align="left" style="bottom: 0px;" >Hide Online Friends </button>
                            }
                            @if (friendRequest)
                            {
                                <a href="/friendlist"><img @onclick="CloseFriendNotif" class="rounded-circle border border-success" src="images/Notif/icon.png" width="50" height="50" align="right"></a>
                            }
                            @if (!someMessage && !showUsers)
                            {
                                <img class="rounded-circle" src="images/Notif/notify_icon.png" width="50" height="50" align="right">
                            }
                            else if (someMessage && !showUsers)
                            {
                                <img @onclick="ShowChats" class="rounded-circle border border-success" src="images/Notif/notify_icon.png" width="50" height="50" align="right">
                            }
                            @if (showUsers)
                            {
                                @foreach (var user in users)
                                {
                                    <img @onclick="(() => ShowChat(user))" class="rounded-circle" src="@user.AvatarName" width="50" height="50" align="right">
                                }
                            }

                        </div>

                        @if (isNotif)
                        {
                            <div class="toast-container">
                                @foreach (var userMessage in messages)
                                {
                                    if (userMessage.ToUser.CompareTo("notif") == 0)
                                    {

                                        <div class="modal" tabindex="-1" style="display:block" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Admin post</h3>
                                                        <!-- Button to close the popup -->
                                                        <button type="button" class="close"
                                                                @onclick="CloseInfo">
                                                            <span aria-hidden="true">X</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div>
                                                            <div class="text-muted small text-nowrap mt-2">@userMessage.DateSent.ToString("HH:mm | MMM dd")</div>
                                                        </div>

                                                        <div class="font-weight-bold mb-1">@userMessage.FromUser</div>
                                                        @userMessage.Message

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>

            </div>

@code
{

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    private AuthenticationState authState;

    //****************************************//
    private bool showPopup = false;
    private bool showUsers = false;
    private List<UserToViewInfo> users = new List<UserToViewInfo>();
    private List<string> names = new List<string>();
    private bool someMessage = false;
    private bool showOnline = false;


    private void ShowOnline()
    {
        OnInitializedAsync();
        showOnline = true;
        StateHasChanged();
    }

    private void HideOnline()
    {
        showOnline = false;
    }

    private void ShowChats()
    {  
        showUsers = true;
        someMessage = false;    
    }



    private async Task ShowChat(UserToViewInfo user)
    {
        forUser = user;
        messages = await _friendService.GetOldMessages(userName.UserName, forUser.UserName);
        // Open the Popup
        showPopup = true;
    }

    private void HidePopup()
    {
        showPopup = false;
    }

    private void ClosePopup()
    {
        // Close the Popup
        users.Remove(forUser);
        showPopup = false;
        if (users.Count() == 0) showUsers = false;
        StateHasChanged();
    }

    private bool friendRequest = false;

    void CloseFriendNotif()
    {
        friendRequest = false;
    }

    // list of messages in chat
    private List<MessageModel> messages = new List<MessageModel>();

    private bool isNotif = false;
    void CloseInfo()
    {
        isNotif = false;
    }

    public UserToViewInfo userName;

    private HubConnection messageHubConnection;
    private string messageInput;
    private UserToViewInfo forUser;
    private string someUser;
    private List<UserToViewInfo> realationships;


    public bool IsConnected => messageHubConnection.State == HubConnectionState.Connected;


    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
        userName = _userService.GetUserByName(authState.User.Identity.Name);
        realationships = _friendService.GetAllFriendsByName(userName.UserName);

        messageHubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
            //.WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();
        friendRequest = _friendService.FriendRequest(authState.User.Identity.Name);

        messageHubConnection.On<string, string, string>("ReceiveMessage", (user, friend, message) =>
        {
            if (friend.CompareTo("connection") == 0)
            {
                if (message.CompareTo("online") == 0 && realationships.Exists(x => x.UserName == user))
                {
                    realationships.Find(x => x.UserName == user).IsOnline = true;
                    StateHasChanged();
                }

                if (message.CompareTo("offline") == 0 && realationships.Exists(x => x.UserName == user))
                {
                    realationships.Find(x => x.UserName == user).IsOnline = false;
                    StateHasChanged();
                }

            }
            else
            {
                messages.Add(new MessageModel { FromUser = user, ToUser = friend, Message = message, CurrentUser = user == authState.User.Identity.Name, DateSent = DateTime.Now });
                if (friend == "friend" && user == authState.User.Identity.Name)
                {
                    friendRequest = true;
                }
                if (friend.CompareTo("accfriend") == 0) //&& user == authState.User.Identity.Name)
                {
                    friendRequest = false;
                    ShowOnline();
                }
                if (friend.CompareTo("remfriend") == 0)
                {
                    //friendRequest = false;
                    HideOnline();
                }
                if (friend.CompareTo("notif") == 0)
                {
                    isNotif = true;
                }
                if (friend == authState.User.Identity.Name)
                {
                    if (!showUsers)
                    {
                        someMessage = true;
                    }

                    if (!users.Exists(x => x.UserName == user))
                    {
                        users.Add(_userService.GetUserByName(user));
                    }
                }
                StateHasChanged();
            }
        });
        await messageHubConnection.StartAsync();
    }


    private async Task Send()
    {
        if (!string.IsNullOrEmpty(messageInput))
        {
            await messageHubConnection.SendAsync("SendMessageToUser", authState.User.Identity.Name, forUser.UserName, messageInput);
            messageInput = string.Empty;
        }
    }

    //*********************************************************************///
    protected async Task OnDisconnectAsync()
    {
        _userService.AddUser(userName.UserId, false);
        await messageHubConnection.StopAsync();
        await messageHubConnection.DisposeAsync();

    }

    public async ValueTask DisposeAsync()
    {
        if (messageHubConnection != null)
        {
            await messageHubConnection.DisposeAsync();
        }

        if (SignInManager.IsSignedIn(authState.User))
        {

           // _userService.AddUser(UserManager.GetUserId(authState.User), false);
            
            _userService.AddUser(userName.UserId, false);
        }

    }


}
