﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using SN_WebApp.Models
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject IUserService _userService

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top" style="height: 60px;">
    <div class="container">
        <a class="navbar-brand text-light" href="">SocialNetwork</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 8px;" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link text-light" id="manage" role="link" href="Identity/Account/Manage" title="Manage" style="padding-top: 20px; color: white;">Manage</a> 

                        </li>
                        <li class="nav-item">

                            <form id="logoutForm" class="form-inline" method="post" action="Identity/Account/LogOut">
                                <button id="logout" type="submit" class="btn btn-link" style="padding-top: 18px; color: white;">Log out</button>
                            </form>

                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link text-light" id="register" href="Identity/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" id="login" href="Identity/Account/Login">Login</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }

    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;
    private HubConnection hubConnection;

    protected async Task LogoutNotif()
    {
        authState = await _authState;

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
       // .WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        await hubConnection.StartAsync();

        if (SignInManager.IsSignedIn(authState.User))
        {

           // _userService.AddUser(UserManager.GetUserId(authState.User), false);
            string message = "offline";
            string temp = "connection";
            await hubConnection.SendAsync("SendMessageToUser", authState.User.Identity.Name, temp, message);
        }
    }

    /*

     <div class="top-row pl-4 navbar navbar-dark">
         <a class="navbar-brand" href="">Social Network</a>
         <button class="navbar-toggler" @onclick="ToggleNavMenu">
             <span class="navbar-toggler-icon"></span>
         </button>
     </div>

     <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
         <ul class="nav flex-column">
             <li class="nav-item px-3">
                 <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                     <span class="oi oi-home" aria-hidden="true"></span> Home
                 </NavLink>
             </li>
             <li class="nav-item px-3">
                 <NavLink class="nav-link" href="counter">
                     <span class="oi oi-plus" aria-hidden="true"></span> Counter
                 </NavLink>
             </li>
             <li class="nav-item px-3">
                 <NavLink class="nav-link" href="chatroom">
                     <span class="oi oi-plus" aria-hidden="true"></span> Chat Room
                 </NavLink>
             </li>
             <AuthorizeView>
                 <Authorized>
                     <li class="nav-item px-3">
                         <NavLink class="nav-link" href="friendlist">
                             <span class="oi oi-plus" aria-hidden="true"></span> FriendList
                         </NavLink>
                     </li>
                 </Authorized>
             </AuthorizeView>
             <AuthorizeView Roles="ADMIN">
                 <Authorized>
                     <li class="nav-item px-3">
                         <NavLink class="nav-link" href="admin">
                             <span class="oi oi-list-rich" aria-hidden="true"></span> Admin Page
                         </NavLink>
                     </li>
                 </Authorized>
             </AuthorizeView>

         </ul>
     </div>

     @code
     {
         private bool collapseNavMenu = true;

         private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

         private void ToggleNavMenu()
         {
             collapseNavMenu = !collapseNavMenu;
         }

     }

     */


}








