@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item a.active {
        background-color: rgba(228, 226, 226, 0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (min-width: 768px) {

    .navbar-toggler {
        display: none;
    }
}

 
    /*user profile */

    .fs35 {
        font-size: 35px !important;
    }

    .mw50 {
        max-width: 50px !important;
    }

    .mn {
        margin: 0 !important;
    }

    .mw140 {
        max-width: 140px !important;
    }

    .mb20 {
        margin-bottom: 20px !important;
    }

    .mr25 {
        margin-right: 25px !important;
    }

    .mw40 {
        max-width: 40px !important;
    }

    .p30 {
        padding: 30px !important;
    }

    .page-heading {
        position: relative;
        padding: 30px 40px;
        margin: -25px -20px 25px;
        border-bottom: 1px solid #d9d9d9;
        background-color: #ffffff;
    }

    .page-tabs {
        margin: -25px -20px 30px;
        padding: 15px 25px 0;
        border-bottom: 1px solid #ddd;
        background: #e9e9e9;
    }

        .page-tabs .nav-tabs {
            border-bottom: 0;
        }

            .page-tabs .nav-tabs > li > a {
                color: #AAA;
                padding: 10px 20px;
            }

            .page-tabs .nav-tabs > li:hover > a,
            .page-tabs .nav-tabs > li:focus > a {
                border-color: #ddd;
            }

            .page-tabs .nav-tabs > li.active > a,
            .page-tabs .nav-tabs > li.active > a:hover,
            .page-tabs .nav-tabs > li.active > a:focus {
                color: #666;
                font-weight: 600;
                background-color: #eee;
                border-bottom-color: transparent;
            }

    @media (max-width: 800px) {
        .page-tabs {
            padding: 25px 20px 0;
        }

            .page-tabs .nav-tabs li {
                float: none;
                margin-bottom: 5px;
            }

                .page-tabs .nav-tabs li:last-child,
                .page-tabs .nav-tabs li.active:last-child {
                    margin-bottom: 10px;
                }

            .page-tabs .nav-tabs > li > a:hover,
            .page-tabs .nav-tabs > li > a:focus {
                border: 1px solid #DDD;
            }

            .page-tabs .nav-tabs > li.active > a,
            .page-tabs .nav-tabs > li.active > a:hover,
            .page-tabs .nav-tabs > li.active > a:focus {
                border-bottom-color: #ddd;
            }
    }

    .panel {
        position: relative;
        margin-bottom: 27px;
        background-color: #ffffff;
        border-radius: 3px;
    }

        .panel.panel-transparent {
            background: none;
            border: 0;
            margin: 0;
            padding: 0;
        }

        .panel.panel-border {
            border-style: solid;
            border-width: 0;
        }

           .panel.panel-border.top {
                border-top-width: 5px;
            }

            .panel.panel-border.right {
                border-right-width: 5px;
            }

            .panel.panel-border.bottom {
                border-bottom-width: 5px;
            }

            .panel.panel-border.left {
                border-left-width: 5px;
            }

            .panel.panel-border > .panel-heading {
                background-color: #fafafa;
                border-color: #e2e2e2;
                border-top: 1px solid transparent;
            }

                .panel.panel-border > .panel-heading > .panel-title {
                    color: #999999;
                }

            .panel.panel-border.panel-default {
                border-color: #DDD;
            }

                .panel.panel-border.panel-default > .panel-heading {
                    border-top: 1px solid transparent;
                }

    .panel-menu {
        background-color: #fafafa;
        padding: 12px;
        border: 1px solid #e2e2e2;
    }

        .panel-menu.dark {
            background-color: #f8f8f8;
        }

    .panel-body .panel-menu {
        border-left: 0;
        border-right: 0;
    }

    .panel-heading + .panel-menu,
    .panel-menu + .panel-body,
    .panel-body + .panel-menu,
    .panel-body + .panel-body {
        border-top: 0;
    }

    .panel-body {
        position: relative;
        padding: 15px;
        border: 1px solid #ffffff;
    }

        .panel-body + .panel-footer {
            border-top: 0;
        }

    .panel-heading {
        position: relative;
        height: 52px;
        line-height: 49px;
        letter-spacing: 0.2px;
        color: #999999;
        font-size: 15px;
        font-weight: 400;
        padding: 0 8px;
        background: #fafafa;
        border: 1px solid #e2e2e2;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

        .panel-heading + .panel-body {
            border-top: 0;
        }

        .panel-heading > .dropdown .dropdown-toggle {
            color: inherit;
        }

        .panel-heading .widget-menu .btn-group {
            margin-top: -3px;
        }

        .panel-heading .widget-menu .form-control {
            margin-top: 6px;
            font-size: 11px;
            height: 27px;
            padding: 2px 10px;
            border-radius: 1px;
        }

            .panel-heading .widget-menu .form-control.input-sm {
                margin-top: 9px;
                height: 22px;
            }

        .panel-heading .widget-menu .progress {
            margin-top: 11px;
            margin-bottom: 0;
        }

        .panel-heading .widget-menu .progress-bar-lg {
            margin-top: 10px;
        }

        .panel-heading .widget-menu .progress-bar-sm {
            margin-top: 15px;
        }

        .panel-heading .widget-menu .progress-bar-xs {
            margin-top: 17px;
        }

    .panel-icon {
        padding-left: 5px;
    }

    .panel-title {
        padding-left: 6px;
        margin-top: 0;
        margin-bottom: 0;
    }

        .panel-title > .fa,
        .panel-title > .glyphicon,
        .panel-title > .glyphicons,
        .panel-title > .imoon {
            top: 2px;
            min-width: 22px;
            color: inherit;
            font-size: 14px;
        }

        .panel-title > a {
            color: inherit;
        }

    .panel-footer {
        padding: 10px 15px;
        background-color: #fafafa;
        border: 1px solid #e2e2e2;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .panel > .list-group {
        margin-bottom: 0;
    }

        .panel > .list-group .list-group-item {
            border-radius: 0;
        }

        .panel > .list-group:first-child .list-group-item:first-child {
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
        }

        .panel > .list-group:last-child .list-group-item:last-child {
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

    .panel-heading + .list-group .list-group-item:first-child {
        border-top-width: 0;
    }

    .panel-body + .list-group .list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group + .panel-footer {
        border-top-width: 0;
    }

    .panel > .table,
    .panel > .table-responsive > .table,
    .panel > .panel-collapse > .table {
        margin-bottom: 0;
    }

        .panel > .table:first-child,
        .panel > .table-responsive:first-child > .table:first-child {
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
        }

            .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
            .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
            .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
            .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
            .panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
            .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
            .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
            .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
                border-top-left-radius: 2px;
            }

            .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
            .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
            .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
            .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
            .panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
            .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
            .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
            .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
                border-top-right-radius: 2px;
            }

        .panel > .table:last-child,
        .panel > .table-responsive:last-child > .table:last-child {
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

            .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
            .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
            .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
            .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
            .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
            .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
            .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
            .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
                border-bottom-left-radius: 2px;
            }

            .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
            .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
            .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
            .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
            .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
            .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
            .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
            .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
                border-bottom-right-radius: 2px;
            }

    .panel > .panel-body + .table,
    .panel > .panel-body + .table-responsive {
        border-top: 1px solid #eeeeee;
    }

    .panel > .table > tbody:first-child > tr:first-child th,
    .panel > .table > tbody:first-child > tr:first-child td {
        border-top: 0;
    }

    .panel > .table-bordered,
    .panel > .table-responsive > .table-bordered {
        border: 0;
    }

        .panel > .table-bordered > thead > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
        .panel > .table-bordered > tbody > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
        .panel > .table-bordered > tfoot > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
        .panel > .table-bordered > thead > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
        .panel > .table-bordered > tbody > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
        .panel > .table-bordered > tfoot > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
        }

        .panel > .table-bordered > thead > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
        .panel > .table-bordered > tbody > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
        .panel > .table-bordered > tfoot > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
        .panel > .table-bordered > thead > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
        .panel > .table-bordered > tbody > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
        .panel > .table-bordered > tfoot > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
            border-right: 0;
        }

        .panel > .table-bordered > thead > tr:first-child > td,
        .panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
        .panel > .table-bordered > tbody > tr:first-child > td,
        .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
        .panel > .table-bordered > thead > tr:first-child > th,
        .panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
        .panel > .table-bordered > tbody > tr:first-child > th,
        .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
            border-bottom: 0;
        }

        .panel > .table-bordered > tbody > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
        .panel > .table-bordered > tfoot > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
        .panel > .table-bordered > tbody > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
        .panel > .table-bordered > tfoot > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
            border-bottom: 0;
        }

    .panel > .table-responsive {
        border: 0;
        margin-bottom: 0;
    }

    .panel-group {
        margin-bottom: 19px;
    }

        .panel-group .panel-title {
            padding-left: 0;
        }

        .panel-group .panel-heading,
        .panel-group .panel-heading a {
            position: relative;
            display: block;
            width: 100%;
        }

        .panel-group.accordion-lg .panel + .panel {
            margin-top: 12px;
        }

        .panel-group.accordion-lg .panel-heading {
            font-size: 14px;
            height: 54px;
            line-height: 52px;
        }

        .panel-group .accordion-icon {
            padding-left: 35px;
        }

            .panel-group .accordion-icon:after {
                position: absolute;
                content: "\f068";
                font-family: "FontAwesome";
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                -webkit-font-smoothing: antialiased;
                color: #555;
                left: 10px;
                top: 0;
            }

            .panel-group .accordion-icon.collapsed:after {
                content: "\f067";
            }

            .panel-group .accordion-icon.icon-right {
                padding-left: 10px;
                padding-right: 30px;
            }

                .panel-group .accordion-icon.icon-right:after {
                    left: auto;
                    right: 5px;
                }

        .panel-group .panel {
            margin-bottom: 0;
            border-radius: 3px;
        }

            .panel-group .panel + .panel {
                margin-top: 5px;
            }

        .panel-group .panel-heading + .panel-collapse > .panel-body {
            border-top: 0;
        }

        .panel-group .panel-footer {
            border-top: 0;
        }

            .panel-group .panel-footer + .panel-collapse .panel-body {
                border-bottom: 1px solid #eeeeee;
            }


    .media {
        color: #999999;
        font-weight: 600;
        margin-top: 15px;
    }

        .media:first-child {
            margin-top: 0;
        }

        .media-right,
        .media > .pull-right {
            padding-left: 10px;
        }

        .media-left,
        .media > .pull-left {
            padding-right: 10px;
        }

    .media-left,
    .media-right,
    .media-body {
        display: table-cell;
        vertical-align: top;
    }

    .media-middle {
        vertical-align: middle;
    }

    .media-bottom {
        vertical-align: bottom;
    }

    .media-heading {
        color: #555555;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .media-list {
        padding-left: 0;
        list-style: none;
    }

    /*===============================================
  Tabs
================================================= */
    /* Tabs Wrapper */
    .tab-block {
        position: relative;
    }
        /* Tabs Content */
        .tab-block .tab-content {
            overflow: auto;
            position: relative;
            z-index: 10;
            min-height: 125px;
            padding: 16px 12px;
            border: 1px solid #e2e2e2;
            background-color: #FFF;
        }
        /*===============================================
  Tab Navigation
================================================= */
        .tab-block .nav-tabs {
            position: relative;
            border: 0;
        }
            /* nav tab item */
            .tab-block .nav-tabs > li {
                float: left;
                margin-bottom: -1px;
            }
                /* nav tab link */
                .tab-block .nav-tabs > li > a {
                    z-index: 9;
                    position: relative;
                    color: #AAA;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 14px 20px;
                    margin-right: -1px;
                    border-color: #e2e2e2;
                    border-radius: 0;
                    background: #fafafa;
                }

                .tab-block .nav-tabs > li:first-child > a {
                    margin-left: 0;
                }
                /* nav tab link:hover */
                .tab-block .nav-tabs > li > a:hover {
                    background-color: #f4f4f4;
                }
                /* nav tab active link:focus:hover */
                .tab-block .nav-tabs > li.active > a,
                .tab-block .nav-tabs > li.active > a:hover,
                .tab-block .nav-tabs > li.active > a:focus {
                    cursor: default;
                    position: relative;
                    z-index: 12;
                    color: #555555;
                    background: #FFF;
                    border-color: #e2e2e2;
                    border-bottom: 1px solid #FFF;
                }
    /*===============================================
  Tab Navigation - Tabs Left
================================================= */
    .tabs-left {
        float: left;
    }
        /* nav tab item */
        .tabs-left > li {
            float: none;
            margin: 0 -1px -1px 0;
        }
            /* nav tab item link */
            .tabs-left > li > a {
                padding: 14px 16px;
                color: #777;
                font-weight: 600;
                border: 1px solid transparent;
                border-color: #DDD;
                background: #fafafa;
            }
    /* nav tab link:hover */
    /* nav tab active link:focus:hover */
    .tab-block .tabs-left > li.active > a,
    .tab-block .tabs-left > li.active > a:hover,
    .tab-block .tabs-left > li.active > a:focus {
        color: #555;
        border-color: #DDD #FFF #DDD #DDD;
        cursor: default;
        position: relative;
        z-index: 12;
        background: #FFF;
    }
    /*===============================================
  Tab Navigation - Tabs Right
================================================= */
    .tabs-right {
        float: right;
    }
        /* nav tab item */
        .tabs-right > li {
            float: none;
            margin: 0 0 -1px -1px;
        }
            /* nav tab item link */
            .tabs-right > li > a {
                padding: 14px 16px;
                color: #777;
                font-weight: 600;
                border: 1px solid transparent;
                border-color: #DDD;
                background: #fafafa;
            }
    /* nav tab link:hover */
    /* nav tab active link:focus:hover */
    .tab-block .tabs-right > li.active > a,
    .tab-block .tabs-right > li.active > a:hover,
    .tab-block .tabs-right > li.active > a:focus {
        color: #555;
        border-color: #DDD #DDD #DDD #FFF;
        cursor: default;
        position: relative;
        z-index: 12;
        background: #FFF;
    }
    /*===============================================
  Tab Navigation - Tabs Right
================================================= */
    .tabs-below {
        position: relative;
    }
        /* nav tab item */
        .tabs-below > li {
            float: left;
            margin-top: -1px;
        }
            /* nav tab item link */
            .tabs-below > li > a {
                position: relative;
                z-index: 9;
                margin-right: -1px;
                padding: 11px 16px;
                color: #777;
                font-weight: 600;
                border: 1px solid #DDD;
                background: #fafafa;
            }
    /* nav tab link:hover */
    /* nav tab active link:focus:hover */
    .tab-block .tabs-below > li.active > a,
    .tab-block .tabs-below > li.active > a:hover,
    .tab-block .tabs-below > li.active > a:focus {
        cursor: default;
        position: relative;
        z-index: 12;
        color: #555555;
        background: #FFF;
        border-color: #DDD;
        border-top: 1px solid #FFF;
    }



    /*------------------------------Chat---------------------------------------*/

    body {
        margin-top: 25px;
    }

    .chat-online {
        color: #34ce57
    }

    .chat-offline {
        color: #e4606d
    }

    .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 800px;
        overflow-y: scroll
    }

    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }

    .chat-message-left {
        margin-right: auto
    }

    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }

    .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .flex-grow-0 {
        flex-grow: 0 !important;
    }

    .border-top {
        border-top: 1px solid #dee2e6 !important;
    }


    /*--------------post room -----------------------*/

    .comment-wrapper .panel-body {
        max-height: 650px;
        overflow: auto;
    }

    .comment-wrapper .media-list .media img {
        width: 64px;
        height: 64px;
        border: 2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }

    /*--------------------------------------------*/

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

    .box.box-primary {
        border-top-color: #00c0ef;
    }

    .box.box-default {
        border-top-color: #d2d6de;
    }

    .box.collapsed-box .box-body, .box.collapsed-box .box-footer {
        display: none;
    }

    .box .nav-stacked > li {
        border-bottom: 1px solid #f4f4f4;
        margin: 0;
    }

        .box .nav-stacked > li:last-of-type {
            border-bottom: none;
        }

    .box .border-right {
        border-right: 1px solid #f4f4f4;
    }

    .box .border-left {
        border-left: 1px solid #f4f4f4;
    }

    .box.box-solid {
        border-top: 0;
    }

        .box.box-solid > .box-header .btn.btn-default {
            background: transparent;
        }

        .box.box-solid > .box-header .btn:hover, .box.box-solid > .box-header a:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        .box.box-solid.box-default {
            border: 1px solid #d2d6de;
        }

            .box.box-solid.box-default > .box-header {
                color: #444;
                background: #d2d6de;
                background-color: #d2d6de;
            }

                .box.box-solid.box-default > .box-header a, .box.box-solid.box-default > .box-header .btn {
                    color: #444;
                }

        .box.box-solid.box-primary {
            border: 1px solid #3c8dbc;
        }

            .box.box-solid.box-primary > .box-header {
                color: #fff;
                background: #3c8dbc;
                background-color: #3c8dbc;
            }

                .box.box-solid.box-primary > .box-header a, .box.box-solid.box-primary > .box-header .btn {
                    color: #fff;
                }

        .box.box-solid > .box-header > .box-tools .btn {
            border: 0;
            box-shadow: none;
        }

        .box.box-solid[class*='bg'] > .box-header {
            color: #fff;
        }

    .box .box-group > .box {
        margin-bottom: 5px;
    }

    .box .knob-label {
        text-align: center;
        color: #333;
        font-weight: 100;
        font-size: 12px;
        margin-bottom: 0.3em;
    }

    .box > .overlay, .overlay-wrapper > .overlay, .box > .loading-img, .overlay-wrapper > .loading-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .box .overlay, .overlay-wrapper .overlay {
        z-index: 50;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 3px;
    }

        .box .overlay > .fa, .overlay-wrapper .overlay > .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            color: #000;
            font-size: 30px;
        }

        .box .overlay.dark, .overlay-wrapper .overlay.dark {
            background: rgba(0, 0, 0, 0.5);
        }

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}

.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}
    
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

    .box-header.with-border {
        border-bottom: 1px solid #f4f4f4;
    }

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion {
    margin-right: 5px;
}

.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

    .box-header > .box-tools [data-toggle="tooltip"] {
        position: relative;
    }

    .box-header > .box-tools.pull-right .dropdown-menu {
        right: 0;
        left: auto;
    }

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

    .open .btn-box-tool, .btn-box-tool:hover {
        color: #606c84;
    }

    .btn-box-tool.btn:active {
        box-shadow: none;
    }

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-body > .table {
    margin-bottom: 0;
}

.box-body .fc {
    margin-top: 5px;
}

.box-body .full-width-chart {
    margin: -19px;
}

.box-body.no-padding .full-width-chart {
    margin: -9px;
}

.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
*/
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}


.direct-chat-messages {
     padding: 10px; 
}

.direct-chat-msg, .direct-chat-text {
    display: block;
}

.direct-chat-msg {
    margin-bottom: 10px;
}

    .direct-chat-msg:before, .direct-chat-msg:after {
        content: " ";
        display: table;
    }

    .direct-chat-msg:after {
        clear: both;
    }



.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}

    .direct-chat-text:after, .direct-chat-text:before {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: ' ';
        height: 0;
        width: 0;
        pointer-events: none;
    }

    .direct-chat-text:after {
        border-width: 5px;
        margin-top: -5px;
    }

    .direct-chat-text:before {
        border-width: 6px;
        margin-top: -6px;
    }

.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}

    .right .direct-chat-text:after, .right .direct-chat-text:before {
        right: auto;
        left: 100%;
        border-right-color: transparent;
        border-left-color: #d2d6de;
    }
    
.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}

.right .direct-chat-img {
    float: right;
}

.direct-chat-name {
    font-weight: 600;
}

.direct-chat-timestamp {
    color: #999;
}

}
