﻿@page "/admin"
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using Models
@attribute [Authorize(Roles = "ADMIN")]
@inject NavigationManager NavigationManager
@inject IUserService _userService

<h1>Admin page</h1>

@if (allUsers == null)
{
    <p>
        <em>Loading ...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Photo</td>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Active</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in allUsers)
            {
                <tr>
                    <td>
                        <a href="userprofile/@user.UserName">
                            <img src="@user.AvatarName" class="rounded-circle" width="40" height="40">
                        </a>
                    </td>
                    <td> @user.UserName </td>
                    <td> @user.Email </td>
                    <td> <button class="btn btn-outline-info" @onclick="(() => ChangeRole(user))"> @user.Role </button></td>
                    <td> @user.IsOnline </td>
                    <td>
                        <button class="btn btn-danger disabled" @onclick="(() => DeleteUser(user.UserId))" data-toggle="tooltip" title="Not implemented"> Delete User</button>

                    </td>
                </tr>
               
                @if (dialog)
                {<!-- This is the popup to create or edit a user -->
                    <div class="modal" tabindex="-1" style="display:block" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Do you really want to delete user @user.UserName?</h3>
                                    <!-- Button to close the popup -->
                                </div>

                                <div class="modal-body">
                                    <div class="col-auto mr-auto"></div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-danger disabled" data-toggle="tooltip" title="Not implemented">Delete</button>
                                        <button type="button" class="btn btn-outline-primary" @onclick="Cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;
    //private List<MessageModel> notifycations = new List<MessageModel>();
    List<UserToViewInfo> allUsers;
    private bool dialog = false;
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
        allUsers = _userService.GetAllUsers();

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
       // .WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string, string>("ReceiveMessage", (user, friend, message) =>
        {
            //notifycations.Add(new MessageModel { FromUser = user, ToUser = friend, Message = message, CurrentUser = user == authState.User.Identity.Name, DateSent = DateTime.Now });
            if(friend == "notif")
            {
                StateHasChanged();
            }
        });

        await hubConnection.StartAsync();
    }

    private void DeleteUser(string userId)
    {
        dialog = true;
    }

    private async Task RlyDelete(string userId)
    {
        dialog = false;
      //  await _userService.DeleteUser(userId);
        StateHasChanged();
    }

    private void Cancel()
    {
        dialog = false;
    }

    private async Task ChangeRole(UserToViewInfo user)
    {
        if (user.UserName != authState.User.Identity.Name)
        {
            if (user.Role == "ADMIN")
            {
                string dialog = user.UserName + " is USER";
                await hubConnection.SendAsync("SendMessageToUser", authState.User.Identity.Name, "notif", dialog);
                _userService.ChangeUserRole(user.UserId, "USER");

            }
            else
            {
                string dialog = user.UserName + " is ADMIN";
                await hubConnection.SendAsync("SendMessageToUser", authState.User.Identity.Name, "notif", dialog);
                _userService.ChangeUserRole(user.UserId, "ADMIN");

            }

            StateHasChanged();
        }
    }

}

