﻿@page "/chatroom"
@attribute [Authorize]
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using Models
@inject NavigationManager NavigationManager
@inject IUserService _userService
@inject IFriendService _friendService

<main class="content">
    <div class="container p-0">

        <h1 class="h3 mb-3">Messages</h1>

        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-right">

                    <div class="px-4 d-none d-md-block">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <input type="text" class="form-control my-3" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    @if (realationships == null)
                    {
                        <p>
                            <em> Loading...</em>
                        </p>

                    }
                    else
                    {

                        @foreach (var friend in realationships)
                        {

                            <a href="/chatroom/#@friend.UserName" class="list-group-item list-group-item-action border-0">
                                <div class="badge bg-success float-right"></div>
                                <div @onclick="(() => PickUser(friend))" class="d-flex align-items-start">
                                    <img src="@friend.AvatarName" class="rounded-circle mr-1" alt="@friend.UserName" width="40" height="40">
                                    <div class="flex-grow-1 ml-3">
                                        @friend.UserName
                                        @if (friend.IsOnline)
                                        {
                                            <div class="small"><span class="oi oi-chat" style="color:forestgreen"></span> Online</div>
                                        }
                                        else
                                        {
                                             <div class="small"><span class="oi oi-circle-x" style="color:red"></span> Offline</div>
                                        }
                                    </div>
                                </div>
                            </a>

                        }

                    }

                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>

                <div id="@(forUser.UserName == null ? realationships.First().UserName : forUser.UserName)" class="col-12 col-lg-7 col-xl-9">
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                            <div class="position-relative">
                                <a href="userprofile/@(forUser.UserName == null ? realationships.First().UserName : forUser.UserName)"><img src="@(forUser.AvatarName == null ? realationships.First().AvatarName : forUser.AvatarName)" class="rounded-circle mr-1" width="40" height="40"></a>
                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong>@(forUser.UserName == null ? realationships.First().UserName : forUser.UserName)</strong>
                                <div class="text-muted small"><em></em></div>
                            </div>
                            <div>
                                <button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative">
                        <div class="chat-messages p-4">
                            @foreach (var userMessage in messages)
                            {
                                @if ((authState.User.Identity.Name == userMessage.ToUser || authState.User.Identity.Name == userMessage.FromUser) && (forUser.UserName == userMessage.ToUser || forUser.UserName == userMessage.FromUser))
                                {                                     
                                    <div class="@(userMessage.CurrentUser ? " chat-message-right mb-4" : "chat-message-left pb-4" )">
                                        <div>
                                            <img src="@(userMessage.CurrentUser? me.AvatarName : forUser.AvatarName)" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2">@userMessage.DateSent.ToString("HH:mm | MMM dd")</div>
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 @(userMessage.CurrentUser ? " mr-3" : "ml-3" )">
                                            <div class="font-weight-bold mb-1">@(userMessage.CurrentUser ? "You" : userMessage.FromUser)</div>
                                            @userMessage.Message
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <div class="input-group">
                            <input type="text" @bind="messageInput" class="form-control" placeholder="Type your message">
                            <button type="button" @onclick="Send" disabled="@(!IsConnected)" class="btn btn-primary">Send</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>


@code
{
    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;

    // list of messages in chat
    private List<MessageModel> messages = new List<MessageModel>();

    private HubConnection hubConnection;
    private string messageInput;
    private UserToViewInfo forUser;
    private UserToViewInfo me;
    private bool isUserReadonly = false;

    List<UserToViewInfo> realationships; 

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
        realationships = _friendService.GetAllFriendsByName(authState.User.Identity.Name);
        me = _userService.GetUserByName(authState.User.Identity.Name);
        if (forUser == null) forUser = realationships.First();

        messages = await _friendService.GetOldMessages(me.UserName, forUser.UserName);

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
       // .WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string, string>("ReceiveMessage", (user, friend, message) =>
        {

            if (friend.CompareTo("connection") == 0)
            {
                if (message.CompareTo("online") == 0 && realationships.Exists(x => x.UserName == user))
                {
                    realationships.Find(x => x.UserName == user).IsOnline = true;
                    StateHasChanged();
                }

                if (message.CompareTo("offline") == 0 && realationships.Exists(x => x.UserName == user))
                {
                    realationships.Find(x => x.UserName == user).IsOnline = false;
                    StateHasChanged();
                }
            }
            else
            {
                messages.Add(new MessageModel { FromUser = user, ToUser = friend, Message = message, CurrentUser = user == me.UserName, DateSent = DateTime.Now });
                StateHasChanged();
            }
        });

        await hubConnection.StartAsync();
    }


    private async Task PickUser(UserToViewInfo currentUser)
    {
        forUser = currentUser;
        messages = await _friendService.GetOldMessages(me.UserName, forUser.UserName);
        StateHasChanged();
    }

    private async Task Send()
    {
        if (!string.IsNullOrEmpty(messageInput))
        {
            await hubConnection.SendAsync("SendMessageToUser", me.UserName, forUser.UserName, messageInput);

            isUserReadonly = true;
            messageInput = string.Empty;
        }
    }

    private async Task DisconnectAsync()
    {
        await hubConnection.StopAsync();
        await hubConnection.DisposeAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}

