﻿@page "/friendlist"
@attribute [Authorize]
@using Microsoft.AspNetCore.SignalR.Client
@using Services
@using Models
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IFriendService _friendService
@inject IUserService _userService


@if (friends == null)
{
    <p>
        <em>Loading ...</em>
    </p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <td>Friend</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var friend in friends)
                    {
                        @if (!friend.Blocked)
                        {
                            @if (me.UserId != friend.FriendId)
                            {

                                <tr>
                                    <td><a href="userprofile/@friend.FriendName">@friend.FriendName</a></td>

                                    @if (friend.Accepted)
                                    {
                                        <td>We are friend!</td>
                                        <td>
                                            <button type="button" @onclick="(() => Remove(friend))" class="btn btn-secondary">Remove</button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>Awaiting for confirmation</td>
                                        <td></td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="userprofile/@friend.UserName">@friend.UserName</a></td>

                                    @if (friend.Accepted)
                                    {
                                        <td>We are friend!</td>
                                        <td>
                                            <button type="button" @onclick="(() => Remove(friend))" class="btn btn-secondary">Remove</button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>What you want?</td>
                                        <td>
                                            <button type="button" @onclick="(() => AcceptRequest(friend))" class="btn btn-success">Accept</button>
                                            <button type="button" @onclick="(() => Remove(friend))" class="btn btn-secondary">Deny</button>
                                            <button type="button" @onclick="(() => Blocking(friend))" class="btn btn-outline-danger">Block</button>
                                        </td>
                                    }
                                </tr>

                            }
                        }
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <td>Blocked Users</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var friend in friends)
                    {
                        @if (friend.Blocked && me.UserId != friend.FriendId)
                        {
                            <tr>
                                <td><a href="userprofile/@friend.FriendName">@friend.FriendName</a></td>
                                <td>
                                    <button type="button" @onclick="(() => Remove(friend))" class="btn btn-outline-danger">Remove</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>

<h2>Other Users</h2>
<div class="px-4 d-none d-md-block">
    <div class="d-flex align-items-center">
        <div class="flex-grow-1">
            <input type="text" @bind-value="SearchText"
           @bind-value:event="oninput" class="form form-control my-3" placeholder="Search by name...">
        </div>
    </div>
</div>



@if (allUsers == null)
{
    <p>
        <em>Loading ...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Username</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (SearchText.Length > 2)
            {
                @foreach (var user in FiltereBydNames)
                {
                    @if (OnShow(user.UserId))
                    {
                        @if (OnShowWithReq(user.UserId))
                        {
                            <tr>
                                <td><a href="userprofile/@user.UserName"> @user.UserName</a></td>
                                <td>What you want?</td>
                                <td>
                                    <button type="button" @onclick="(() => AcceptRequest(user))" class="btn btn-success">Accept</button>
                                    <button type="button" @onclick="(() => Remove(user))" class="btn btn-secondary">Deny</button>
                                    <button type="button" @onclick="(() => Blocking(user))" class="btn btn-outline-danger">Block</button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><a href="userprofile/@user.UserName"> @user.UserName</a></td>
                                <td></td>
                                <td>
                                    <button type="button" @onclick="(() => SendRequest(user))" class="btn btn-primary">Send</button>
                                    <button type="button" @onclick="(() => Blocking(user))" class="btn btn-danger">Block</button>
                                </td>
                            </tr>
                        }
                    }
                }
            }
            else
            {
                @foreach (var user in allUsers)
                {
                    @if (OnShow(user.UserId))
                    {
                        @if (OnShowWithReq(user.UserId))
                        {
                            <tr>
                                <td><a href="userprofile/@user.UserName"> @user.UserName</a></td>
                                <td>What you want?</td>
                                <td>
                                    <button type="button" @onclick="(() => AcceptRequest(user))" class="btn btn-success">Accept</button>
                                    <button type="button" @onclick="(() => Remove(user))" class="btn btn-secondary">Deny</button>
                                    <button type="button" @onclick="(() => Blocking(user))" class="btn btn-outline-danger">Block</button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><a href="userprofile/@user.UserName"> @user.UserName</a></td>
                                <td></td>
                                <td>
                                    <button type="button" @onclick="(() => SendRequest(user))" class="btn btn-primary">Send</button>
                                    <button type="button" @onclick="(() => Blocking(user))" class="btn btn-danger">Block</button>
                                </td>
                            </tr>
                        }
                    }
                }
            }

        </tbody>
    </table>

}

@code
{

    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;

    List<UserToFriendModel> friends;
    List<UserToViewInfo> allUsers;
    private HubConnection hubConnection;
    private bool friendReq = true;
    private UserToViewInfo me;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;

        friends = _friendService.GetAllRelationships(authState.User.Identity.Name);
        allUsers = _userService.GetAllUsers();
        me = _userService.GetUserByName(authState.User.Identity.Name);

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
       // .WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string, string>("ReceiveMessage", (user, friend, message) =>
        {
            if ((friend == "friend" || friend == "accfriend" || friend == "accfriend")) //&& user == authState.User.Identity.Name)
            {
                OnInitializedAsync();
                StateHasChanged();
            }
        });
        await hubConnection.StartAsync();

    }

    //-------------------- Search ------------------//

    public string SearchText = "";

    List<UserToViewInfo> FiltereBydNames => allUsers.Where(
    u => u.UserName.ToLower().Contains(SearchText.ToLower())).ToList();

    private async Task SendRequest(UserToViewInfo currentUser)
    {
        await hubConnection.SendAsync("SendMessageToUser", currentUser.UserName, "friend", "");
        _friendService.SendFriendRequest(me.UserId, currentUser.UserId);
        OnInitializedAsync();
    }

    private async Task AcceptRequest(UserToViewInfo currentUser)
    {
        await hubConnection.SendAsync("SendMessageToUser", currentUser.UserName, "accfriend", "");
        _friendService.ProcessFriendrequest(currentUser.UserId, me.UserId, true);

        OnInitializedAsync();
        StateHasChanged();
    }

    private async Task AcceptRequest(UserToFriendModel friend)
    {
        await hubConnection.SendAsync("SendMessageToUser", friend.FriendName, "accfriend", "");  
        _friendService.ProcessFriendrequest(friend.UserId, friend.FriendId, true);
        OnInitializedAsync();
        StateHasChanged();
    }

    private async Task Remove(UserToFriendModel friend)
    {
        await hubConnection.SendAsync("SendMessageToUser", friend.FriendName, "remfriend", ""); 
        _friendService.RemoveFriend(friend.UserId, friend.FriendId);
        OnInitializedAsync();
        StateHasChanged();
    }

    private async Task Remove(UserToViewInfo currentUser)
    {
        await hubConnection.SendAsync("SendMessageToUser", currentUser.UserName, "remfriend", "");
        _friendService.RemoveFriend(currentUser.UserId, me.UserId);
        _friendService.RemoveFriend(me.UserId, currentUser.UserId);
        OnInitializedAsync();
        StateHasChanged();
    }

    private async Task Blocking(UserToFriendModel friend)
    {
        _friendService.RemoveFriend(friend.UserId, friend.FriendId);

        if (friend.UserId == me.UserId)
        {
            _friendService.SendBlockingRequest(friend.UserId, friend.FriendId);
        }
        else
        {
            _friendService.SendBlockingRequest(friend.FriendId, friend.UserId);
        }

        OnInitializedAsync();
        StateHasChanged();
    }

    private async Task Blocking(UserToViewInfo currentUser)
    {
        _friendService.RemoveFriend(currentUser.UserId, me.UserId);

        _friendService.SendBlockingRequest(me.UserId, currentUser.UserId);

        OnInitializedAsync();
        StateHasChanged();
    }


    private bool OnShow(string currentId)
    {
        //dont show this user
        if (currentId == me.UserId)
        {
            return false;
        }

        foreach (var friend in friends)
        {
            if ((currentId == friend.UserId || currentId == friend.FriendId) && friend.Blocked)
            {
                return false;
            }
            if (currentId == friend.UserId && friend.Accepted)
            {
                return false;
            }
            if (currentId == friend.FriendId)
            {
                return false;
            }
        }
        return true;
    }

    //Other users B:  A  Acept Deny Blocked
    private bool OnShowWithReq(string currentId)
    {
        @foreach (var friend in friends)
        {
            if (currentId == friend.UserId && !friend.Accepted)
            {
                return true;
            }
        }
        return false;
    }
}




