﻿@page "/"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using SN_WebApp.Models
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject IUserService _userService
@inject IFriendService _friendService




<div class="row">
    <div class="col-md-4">

        <div class="card flex-column" style="word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 0 solid rgba(0,0,0,.125); border-radius: .25rem;">
            <div class="card-body" style=" flex: 1 1 auto; min-height: 1px; padding: 1rem;">
                <div class="d-flex flex-column align-items-center text-center">
                    <AuthorizeView>
                        <Authorized>
                            @if (authState != null)
                            {

                                <a href="userprofile/@me.UserName">
                                    <img src="@me.AvatarName" class="rounded-circle" width="200">
                                </a>
                                <div class="mt-3">
                                    <h4>@authState.User.Identity.Name</h4>
                                    <p class="text-secondary mb-1">@UserManager.GetUserId(authState.User)</p>

                                    <h2 class="text-center">You are logged in now!</h2>
                                    <hr />
                                    @if (me.AvatarName == null)
                                    {
                                       <h4><a href="userprofile/@me.UserName">Go to your profile and set your profile photo.</a></h4>
                                    }
                                    else
                                    {
                                        <h4 class="text-muted font-size-sm">You can find friends, write with them and share your fun with them.</h4>
                                    }


                                    <a href="postroom">
                                        <button class="btn btn-secondary">PostRoom</button>
                                    </a>
                                    <a href="friendlist">
                                        <button class="btn btn-secondary">FriendList</button>
                                    </a>
                                    <h1>&nbsp;</h1>
                                    @if (realationships.Count() == 0)
                                    {
                                        <p>
                                            <a href="friendlist">
                                                If you want to chat, add someone to your friends.
                                            </a>
                                        </p>  
                                        <p>
                                            <button class="btn btn-outline-primary">Message</button>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <a href="chatroom">
                                                <button class="btn btn-info">Message</button>
                                            </a>
                                        </p>
                                    }

                                </div>
                            }
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="ADMIN">
                        <h1>&nbsp;</h1>
                        <h2>You are Admin!</h2>
                        <h4>What you want to do?</h4>

                        <button class="btn btn-secondary" @onclick="CreateNotification">Notify Others</button>
                        <h3>&nbsp;</h3>
                        <a href="/admin">
                            <button class="btn btn-secondary">Manage Accounts</button>
                        </a>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <AuthorizeView>
            <Authorized>

                <PostRoom></PostRoom>

            </Authorized>
        </AuthorizeView>
    </div>
</div>

<AuthorizeView>
    <NotAuthorized>
        <div class="row">
            <div class="col-md-6">

                <h2 class="text-center">Social Network</h2>
                <hr />
                <h4>The social networks will help you make contact with the people in your life and share your contributions with them.</h4>

                <h4>People share thousands of events that happen every day of their lives. <strong>Register today and join the fun.</strong></h4>
            </div>

            <div class="col-md-6">

            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



<AuthorizeView Roles="ADMIN">
    @if (ShowPopup)
    {<!-- This is the popup to create or edit a user -->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create Notification</h3>
                        <!-- Button to close the popup -->
                        <button type="button" class="close"
                                @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="title">Notification Body</label>
                                    <input type="text" class="form-control" id="body" placeholder="Enter Body..." @bind="notification" />
                                    <small class="form-text text-muted">The body will show up below the title.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto mr-auto"></div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" @onclick="CreateNotifcationAsync">Create Notification</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>}

</AuthorizeView>


@code
{
    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;
    private UserToViewInfo me;
    private HubConnection hubConnection;
    private List<MessageModel> notifycations = new List<MessageModel>();
    List<UserToViewInfo> realationships;

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;

        me = _userService.GetUserByName(authState.User.Identity.Name);

        realationships = _friendService.GetAllFriendsByName(authState.User.Identity.Name);



        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
       // .WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        /* hubConnection.On<string, string, string>("ReceiveMessage", (user, friend, message) =>
         {

            // StateHasChanged();

         });*/
        await hubConnection.StartAsync();

        if (SignInManager.IsSignedIn(authState.User))
        {
            _userService.AddUser(me.UserId, true);
            string message = "online";
            string temp = "connection";
            await hubConnection.SendAsync("SendMessageToUser", me.UserName, temp, message);
        }
    }





    protected async Task OnDisconnectAsync()
    {

        _userService.AddUser(me.UserId, false);

    }


    //--------Create Admin Notification -------------------------//

    bool ShowPopup = false;


    private string notification;

    void CreateNotification()
    {
        // Open the Popup
        ShowPopup = true;
    }

    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }

    private async Task CreateNotifcationAsync()
    {
        ShowPopup = false;
        if (!string.IsNullOrEmpty(notification))
        {
            await hubConnection.SendAsync("SendMessageToUser", me.UserName, "notif", notification);
        }
        notification = string.Empty;
    }
}
