﻿@page "/postroom"
@attribute [Authorize]
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using Models
@inject NavigationManager NavigationManager
@inject IUserService _userService
@inject IFriendService _friendService
@inject IPostService _postService



<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>Comment panel</h2>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" @bind="messageInput" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="button" @onclick="Post" class="btn btn-info pull-right">Post</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            @foreach (var post in posts)
                            {
                                @if ((authState.User.Identity.Name == post.FromUser) || realationships.Exists(x => x.UserName == post.FromUser))
                                {
                                    <li class="media">
                                        <a href="userprofile/@(authState.User.Identity.Name == post.FromUser? me.UserName : realationships.Find(x => x.UserName.Contains(post.FromUser)).UserName)" class="pull-left">
                                            <img src="@(authState.User.Identity.Name == post.FromUser? me.AvatarName : realationships.Find(x => x.UserName.Contains(post.FromUser)).AvatarName)" class="rounded-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@post.DateSent.ToString("HH:mm | MMM dd")</small>
                                            </span>
                                            <strong class="text-success">@post.FromUser</strong>
                                            <p>
                                                @post.Message
                                            </p>
                                            <div class="media-links">
                                                <span class="text-dark fs12 mr10">
                                                    @if (post.FromUser == me.UserName)
                                                    {
                                                        <span class="fa fa-thumbs-o-up mr-1"></span> <em class="text-info" @onclick="(() => ViewLikeUsers(post.Id))" data-toggle="tooltip" title="Show who like post">@post.Like</em>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-thumbs-o-up text-primary mr-1" @onclick="(() => Like(post.Id))" data-toggle="tooltip" title="Like"></span> <em class="text-info" @onclick="(() => ViewLikeUsers(post.Id))" data-toggle="tooltip" title="Show who like post">@post.Like</em>
                                                    }

                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }


                        </ul>
                        <button class="btn btn-success align-center" @onclick="ViewMore">Load more</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@if (ShowUsers)
{
    <!-- This is the popup to create or edit a user -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">People who responded </h2>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                @foreach (var user in likeUsers)
                {
                    <div class="d-flex align-items-start">
                        <img src="@user.AvatarName" class="rounded-circle mr-1" alt="@user.UserName" width="40" height="40">
                        <div class="flex-grow-1 ml-3">
                            @user.UserName
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
}



@code
{
    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;

    // list of messages in chat
    private List<MessageModel> posts = new List<MessageModel>();


    private HubConnection hubConnection;
    private string messageInput;
    private UserToViewInfo me;
    private int views = 20;
    List<UserToViewInfo> likeUsers;

    List<UserToViewInfo> realationships; // = new List<UserToFriendModel>();


    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;


        realationships = _friendService.GetAllFriendsByName(authState.User.Identity.Name);
        me = _userService.GetUserByName(authState.User.Identity.Name);

        posts = await _postService.GetPostAsync(views);

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
        //.WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string>("ReceivePost", (user, message) =>
        {
            if (message.CompareTo("itslike") == 0)
            {
                OnInitializedAsync();
                StateHasChanged();
            }
            else
            {
                posts.Add(new MessageModel { FromUser = user, Message = message, CurrentUser = user == me.UserName, DateSent = DateTime.Now });
                views++;
                posts.Sort((x, y) => DateTime.Compare(y.DateSent, x.DateSent));
                StateHasChanged();
            }
        });



        await hubConnection.StartAsync();

        //await SendAsync($"[Notice] {userName} joined chat room.");
    }

    private async Task Like(int postId)
    {
        _postService.AddLike(me.UserName, postId);
        await hubConnection.SendAsync("SendPost", authState.User.Identity.Name, "itslike");
        StateHasChanged();
    }

    private async Task ViewMore()
    {
        views += 20;
        posts = await _postService.GetPostAsync(views);
    }

    private async Task Post()
    {
        if (!string.IsNullOrEmpty(messageInput))
        {
            //_userService.SavePostAsync(authState.User.Identity.Name, messageInput);
            await hubConnection.SendAsync("SendPost", authState.User.Identity.Name, messageInput);

            messageInput = string.Empty;

        }
    }

    private bool ShowUsers = false;

    private async Task ViewLikeUsers(int postId)
    {
        likeUsers = await _postService.GetLikeUsers(postId);
        ShowUsers = true;
    }

    void ClosePopup()
    {
        ShowUsers = false;
    }


    private async Task DisconnectAsync()
    {

        await hubConnection.StopAsync();
        await hubConnection.DisposeAsync();
    }


    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }


}
