﻿@page "/userprofile/{userName}"
@using Microsoft.AspNetCore.SignalR.Client
@using SN_WebApp.Services
@using Models
@inject NavigationManager NavigationManager
@inject IUserService _userService
@inject IFriendService _friendService
@inject IPostService _postService

<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
            <div class="media-left pr30">
                <img src="@userInfo.AvatarName" @onclick="ChooseAvatar" class="rounded-circle" width="400" height="400">
            </div>
            <div class="media-body va-m">
                <h2 class="media-heading">
                    @userName
                    <small> - Profile</small>
                </h2>
                <p class="lead">Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor incididunt</p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="panel-title"> User Information</span>
                </div>
                <div class="panel-body pn">
                    <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                        <thead>
                            <tr class="hidden">
                                <th class="mw30">#</th>
                                <th>Type</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="oi oi-person"></span>
                                </td>
                                <td>Username</td>
                                <td>
                                    @userInfo.UserName
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="oi oi-star"></span>
                                </td>
                                <td>Role</td>
                                <td>
                                    @userInfo.Role
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="oi oi-envelope-closed"></span>
                                </td>
                                <td>Email</td>
                                <td>
                                    @userInfo.Email
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="oi oi-phone"></span>
                                </td>
                                <td>Phone</td>
                                <td>
                                    @if(userInfo.Phone != null) {
                                        @userInfo.Phone;
                                    }
                                    else {
                                        <p>none</p>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="oi oi-pencil"></i>
                    </span>
                    <span class="panel-title">About Me</span>
                </div>
                <div class="panel-body pb5">

                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="tab-block">
                <ul class="nav nav-tabs">
                    @if (!showFriend)
                    {
                        <li class="active">
                            <a href="userprofile/@userName#post" @onclick="ShowPost" data-toggle="tab">Activity</a>
                        </li>
                        <li>
                            <a href="userprofile/@userName#friend" @onclick="ShowFriend" data-toggle="tab">Friend</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="userprofile/@userName#post" @onclick="ShowPost" data-toggle="tab">Activity</a>
                        </li>
                        <li class="active">
                            <a href="userprofile/@userName#friend" @onclick="ShowFriend" data-toggle="tab">Friend</a>
                        </li>
                    }

                </ul>
                <div class="tab-content p30" style="height: 730px;">
                    @if (!showFriend)
                    {
                        <div id="userprofile/@userName#post" class="tab-pane active">
                            @if (userName == authState.User.Identity.Name)
                            {
                                <div class="flex-grow-0 py-3 px-4 border-top">
                                    <div class="input-group">
                                        <input type="text" @bind="messageInput" class="form-control" placeholder="Type your message">
                                        <button type="button" @onclick="Post" disabled="@(!IsConnected)" class="btn btn-primary">Post</button>
                                    </div>
                                </div>
                            }
                            @foreach (var post in posts)
                            {
                                @if (post.FromUser == userName)
                                {
                                    <div class="media">
                                        <a class="pull-left" href="#"> <img class="media-object mn thumbnail mw50" src="@userInfo.AvatarName"> </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@post.DateSent.ToString("HH:mm | MMM dd")</small>
                                            </span>
                                            <strong class="text-success">@post.FromUser</strong>
                                            <p>
                                                @post.Message
                                            </p>
                                            <div class="media-links">
                                                <span class="text-dark fs12 mr10">
                                                    @if (post.FromUser == userName)
                                                    {
                                                        <span class="fa fa-thumbs-o-up mr-1"></span> <em class="text-info" @onclick="(() => ViewLikeUsers(post.Id))" data-toggle="tooltip" title="Show who like post">@post.Like</em>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-thumbs-o-up text-primary mr-1" @onclick="(() => Like(post.Id))" data-toggle="tooltip" title="Like"></span> <em class="text-info" @onclick="(() => ViewLikeUsers(post.Id))" data-toggle="tooltip" title="Show who like post">@post.Like</em>
                                                    }

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <button class="btn btn-success align-center" @onclick="ViewMore">Load more</button>
                        </div>

                    }

                    @if (showFriend)
                    {
                        <div id="userprofile/@userName#post" class="tab-pane active">

                            @foreach (var friend in realationships)
                            {

                                <div class="media">
                                    <a class="pull-left" href="userprofile/@friend.UserName"> <img class="media-object mn thumbnail mw50" src="@friend.AvatarName"> </a>
                                    <div class="media-body">
                                        <h5 class="media-heading mb20">
                                            @friend.UserName

                                        </h5>
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

@if (ShowPopup)
{
    <!-- This is the popup to create or edit a user -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Avatar photo</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <EditForm Model="userInfo">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <img @onclick="(() => ChangeAvatar(1))" src="images/avatar_1.png" class="rounded-circle" width="130" height="130">
                                </div>
                                <div class="form-group">
                                    <img @onclick="(() => ChangeAvatar(2))" src="images/avatar_2.png" class="rounded-circle" width="130" height="130">
                                </div>
                                <div class="form-group">
                                    <img @onclick="(() => ChangeAvatar(3))" src="images/avatar_3.png" class="rounded-circle" width="130" height="130">
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <img @onclick="(() => ChangeAvatar(4))" src="images/avatar_4.png" class="rounded-circle" width="130" height="130">
                                </div>
                                <div class="form-group">
                                    <img @onclick="(() => ChangeAvatar(5))" src="images/avatar_5.png" class="rounded-circle" width="130" height="130">
                                </div>
                                <div class="form-group">
                                    <img @onclick="(() => ChangeAvatar(6))" src="images/avatar_6.png" class="rounded-circle" width="130" height="130">
                                </div>
                            </div>
                        </div>


                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

@if (ShowUsers)
{
    <!-- This is the popup to create or edit a user -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">People who responded </h2>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="CloseUsers">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                @foreach (var user in likeUsers)
                {
                    <div class="d-flex align-items-start">
                        <img src="@user.AvatarName" class="rounded-circle mr-1" alt="@user.UserName" width="40" height="40">
                        <div class="flex-grow-1 ml-3">
                            @user.UserName
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
}


@code
{

    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    public AuthenticationState authState;

    [Parameter]
    public string userName { get; set; }

    private List<MessageModel> posts = new List<MessageModel>();
    UserToViewInfo userInfo;
    private HubConnection hubConnection;
    private string messageInput;
    private string forUser;
    private bool isUserReadonly = false;
    private List<UserToViewInfo> realationships;
    private bool showFriend = false;
    private int views = 20;
    List<UserToViewInfo> likeUsers;


    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;

        realationships = _friendService.GetAllFriendsByName(userName);
        //realationships = _friendService.GetAllFriendsByName(userName);
        userInfo = _userService.GetUserByName(userName);

        posts = await _postService.GetPostByNameAsync(userName, views);

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("http://localhost/chathub")).Build();
        //.WithUrl(NavigationManager.ToAbsoluteUri("/chathub")).Build();

        hubConnection.On<string, string>("ReceivePost", (user, message) =>
        {
            if (message.CompareTo("itslike") == 0)
            {
                OnInitializedAsync();
                StateHasChanged();
            }
            else
            {
                posts.Add(new MessageModel { FromUser = user, Message = message, CurrentUser = user == userName, DateSent = DateTime.Now });
                views++;
                posts.Sort((x, y) => DateTime.Compare(y.DateSent, x.DateSent));
                StateHasChanged();
            }
        });


        await hubConnection.StartAsync();

        //await SendAsync($"[Notice] {userName} joined chat room.");
    }

    private async Task Like(int postId)
    {
        _postService.AddLike(userName, postId);
        await hubConnection.SendAsync("SendPost", authState.User.Identity.Name, "itslike");
        StateHasChanged();
    }

    private async Task ViewMore()
    {
        views += 20;
        posts = await _postService.GetPostByNameAsync(userName, views);
    }

    private async Task Post()
    {
        if (!string.IsNullOrEmpty(messageInput))
        {
            //_userService.SavePostAsync(authState.User.Identity.Name, messageInput);
            await hubConnection.SendAsync("SendPost", authState.User.Identity.Name, messageInput);

            messageInput = string.Empty;

        }
    }

    private async Task DisconnectAsync()
    {

        await hubConnection.StopAsync();
        await hubConnection.DisposeAsync();
    }

    private async Task SendAsync(string message)
    {
        if (!string.IsNullOrWhiteSpace(message))
        {

            await hubConnection.SendAsync("SendPost", authState.User.Identity.Name, messageInput);

            messageInput = string.Empty;

        }

    }

    private bool ShowUsers = false;

    private async Task ViewLikeUsers(int postId)
    {
        likeUsers = await _postService.GetLikeUsers(postId);
        ShowUsers = true;
    }

    void CloseUsers()
    {
        ShowUsers = false;
    }

    private void ShowFriend()
    {
        showFriend = true;
        StateHasChanged();
    }

    private void ShowPost()
    {
        showFriend = false;
        StateHasChanged();
    }


    //****************************************//
    bool ShowPopup = false;
    //private string newAvatar { get; set; }
    void ChooseAvatar()
    {
        if (authState.User.Identity.Name == userName)
        {
            // Open the Popup
            ShowPopup = true;
        }
    }

    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }

    public void ChangeAvatar(int newAvatar)
    {
        string newAvatarName = "images/avatar_" + newAvatar.ToString() + ".png";
        _userService.AddAvatar(userName, newAvatarName);
        ShowPopup = false;
        OnInitializedAsync();
        StateHasChanged();
    }

}

